.product{
    display: flex;
    flex-direction: column;
    background-color: white;
    min-width: 100px;
    max-height: 400px;
    z-index: 1;
    padding : 20px;
    margin :10px;
    width:100%;
    align-items: center;
    justify-content: flex-end;
}
.productRating{
    display: flex;
}
.product_price{
    margin-top: 5px;
}
.product >img{
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}
.product >button{
    background-color: #FFD814;
    border :1px  solid;
}
.info{
    height: 100px;
    margin-bottom: 15px;
}